<div class="container-fluid app-content">
  <header class="row header-top">
    <nav class="navbar navbar-light">
      <a class="navbar-brand" href="/">
        <img src="./assets/icon/icon-white-64.png" width="30" height="30" class="d-inline-block align-top" alt="">
        <span class="text-white">INFO - SECULT</span>
      </a>
    </nav>
  </header>

  <aside>
    <app-informative></app-informative>
  </aside>

  <footer>
    <p class="text-center">Secretaria da Cultura do Estado do Ceará © 2018</p>
  </footer>
</div>
