<div class="container-fluid">
  <div class="row" style="background-color: #085E55">
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <img src="/assets/img/icon-64.png" width="30" height="30" class="d-inline-block align-top" alt="">
        <strong>INFO</strong>
      </a>
    </nav>
  </div>
  <br>

  <!-- <div class="row">
      <div class="col-3" style="background-color: blue">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin commodo dolor id justo consequat semper. Vestibulum ultrices eget ante ut ullamcorper. Pellentesque finibus auctor lacinia. Etiam a dolor ut ipsum rhoncus faucibus non at massa. Nullam mollis dolor id nunc dignissim, viverra ullamcorper est dignissim. Pellentesque ullamcorper facilisis elementum. Nulla id enim purus. Suspendisse lobortis magna vitae eros vestibulum pellentesque. Praesent fringilla vitae ligula ac iaculis. Morbi id orci quam.

      </div>
      <div class="col-9" style="background-color: green">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin commodo dolor id justo consequat semper. Vestibulum ultrices eget ante ut ullamcorper. Pellentesque finibus auctor lacinia. Etiam a dolor ut ipsum rhoncus faucibus non at massa. Nullam mollis dolor id nunc dignissim, viverra ullamcorper est dignissim. Pellentesque ullamcorper facilisis elementum. Nulla id enim purus. Suspendisse lobortis magna vitae eros vestibulum pellentesque. Praesent fringilla vitae ligula ac iaculis. Morbi id orci quam.
      </div>
  </div> -->
  <app-informative></app-informative>
</div>

